.slider-ijc-bit {
    position: relative;
    display: flex;
    background: #00bfd6 url(/images/bgs-lines-blue.jpg) no-repeat left center;
    flex-direction: row;
}

.hb-main{
    position: relative;
}

@media (max-width: 800px) {
    .slider-ijc-bit {
        flex-direction: column;
    }
}

.slider-ijc-bit::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    z-index: 2;
    top: 0;
    background: transparent url(/images/curve_down.png) no-repeat top center;
    background-size: 100%, cover;
}
