// This SCSS styles will be compiled into the CSS bundle automatically.

/*! purgecss start ignore */

/*! PUT YOU STYLE HERE TO AVOID GETTING REMOVING BY PURGECSS. */

/*! purgecss end ignore */

/*div {
    display: block;
    unicode-bidi: isolate;
}*/

.hb-header-logo {
    height: 64px;
}

.tophead {
    height: 58px;
    margin-bottom: 0em;
    background-image: url(/images/curve.png), url(/images/tophead.jpg);
    background-size: 100%, 2000px 80px;
    background-position: center bottom;
    background-repeat: no-repeat, repeat-x;
}

.hb-header-nav {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    z-index: 1030;
    --hb-bg-opacity: 0;
    /*background: linear-gradient(180deg, #f9f9fd 0%, #ffffff 47%); */
}

.navbar {
    --hb-navbar-color: var(--hb-emphasis-color-rgb);
 }

 .nav-link {
    color: #3c86a8
 }

 kbd {
    background-color: #00bfd6 
}

:root, [data-bs-theme="light"] {
    --hb-gray-700: #495057;
    --hb-gray-800: #343a40;
    --hb-primary: #343a40;
    --hb-body-bg: #f9f9fd;
    --hb-body-color: #4E7389;
    --hb-emphasis-color-rgb: 0, 191, 214;
    --hb-navbar-color: var(--hb-emphasis-color-rgb);
    --hb-navbar-active-color: #4295bb;
    --hb-header-navbar-active-color: #4295bb;
    --hb-navbar-hover-color: #4295bb;
    --hb-nav-link-font-size: 0.9rem;
    --hb-breadcrumb-font-size: 0.9rem;
}

ul.navbar-nav li.nav-item a.active {
    font-weight: bolder;
}

.navbar-nav .nav-link.active {
    color: #4295bb;
}

.hb-header-menus .hb-header-menu::after {
    color: #4295bb;
    --hb-header-navbar-active-color: #4295bb;
}

.justify-content-center {
    padding-top: 100px;
    justify-content: right !important;
}

.tophead .hb-header-banner {
    --hb-header-banner-color: #d9e2e8 !important;
    margin-bottom: 0px !important;
}

.hb-header-banner-inner {
    background-color: #000000b0;
    border-radius: 10px; 
}

.hb-header-banner-inner .display-1{
    color: #4E7389;
}

.hb-header-banner-inner a{
    color: #00bfd6;
}

.hb-header-banner .lead {
    font-size: 1rem;
    font-weight: 300;
}

@media (min-width: 992px) {
    .col-lg-8 {
        width: 75%;
    }
}


.hb-header-banner .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    margin-right: 0;
    margin-left: 0;
}

body {
    --hb-top-offset: 50px !important;
}

footer {
    color:  #f9f9fd;
    background: linear-gradient(90deg, #5ebf81 0%, #00bfd6 70%);
}

.hb-main {
    margin: 0;
}

.hb-footer a {
    color: #f9f9fd !important; 
}

footer .container-fluid {
    display: flex;
    justify-content: space-around;
}

footer .footer-flex-col{
    align-content: center;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 50%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

.hb-contact-form .form-text{
    color: white;
}

section[data-section-id="people"]
.section-background {
    background: linear-gradient(162deg, #05494a, #70b98d, #05494a, #0a5c5d);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 38s ease infinite;
    -moz-animation: AnimationName 38s ease infinite;
    animation: AnimationName 38s ease infinite;
}

.btn-primary {
    --hb-btn-color: #fff;
    --hb-btn-bg: #00bfd6;
    --hb-btn-border-color: #00bfd6;
    --hb-btn-hover-color: #fff;
    --hb-btn-hover-bg: #3981a2;
    --hb-btn-hover-border-color: #3981a2;       
}

.hb-header-banner-inner .btn-primary {
    --hb-btn-bg: #4e738900;
}

.hb-header-banner-inner  .py-3 {
    --padding-top: 0 !important;
    --padding-bottom: 0 !important; 
}

.hb-main {
    margin-bottom: 0 !important;
}