// This SCSS styles will be compiled into the CSS bundle automatically.

/*! purgecss start ignore */

/*! PUT YOU STYLE HERE TO AVOID GETTING REMOVING BY PURGECSS. */

/*! purgecss end ignore */

@import 'slider';

.hb-header-logo {
    height: 64px;
}

.tophead {
    height: 72px;
    margin-bottom: 0em;
    background-image: url(/images/curve.png), url(/images/tophead.jpg);
    background-size: 100%, 100% 72px;
    background-position: center bottom;
    background-repeat: no-repeat, repeat-x;
    z-index: 5;
}

.hb-header-nav {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    z-index: 1030;
    --hb-bg-opacity: 0;
    /*background: linear-gradient(180deg, #f9f9fd 0%, #ffffff 47%); */
}

.navbar {
    --hb-navbar-color: var(--hb-emphasis-color-rgb);
 }

 .nav-link {
    color: #3c86a8
 }

kbd {
    background-color: #00bfd6 
}

:root, [data-bs-theme="light"] {
    --hb-gray-700: #495057;
    --hb-gray-800: #343a40;
    --hb-primary: #343a40;
    --hb-body-bg: #f9f9fd;
    --hb-body-color: #4E7389;
    --hb-emphasis-color-rgb: 0, 191, 214;
    --hb-navbar-color: var(--hb-emphasis-color-rgb);
    --hb-navbar-active-color: #4295bb;
    --hb-header-navbar-active-color: #4295bb;
    --hb-navbar-hover-color: #4295bb;
    --hb-nav-link-font-size: 0.9rem;
    --hb-breadcrumb-font-size: 0.9rem; 
    --hb-btn-color:#00bfd6;
}

ul.navbar-nav li.nav-item a.active {
    font-weight: bolder;
}

.navbar-nav .nav-link.active {
    color: #4295bb;
}

.hb-header-menus .hb-header-menu::after {
    color: #4295bb;
    --hb-header-navbar-active-color: #4295bb;
}


.hb-header-banner-inner {
    margin:0.5em;    
    padding:20px;  
    color: #6A8EA0;
    background-color: #f9f9fd;
    border-radius: 10px; 
    flex: 1;
    display: inline-block;
    overflow: hidden;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 31px -10px rgba(17, 68, 114, 0.23);
    -moz-box-shadow: 0px 0px 31px -10px rgba(17, 68, 114, 0.23);
    box-shadow: 0px 0px 31px -10px rgba(17, 68, 114, 0.23);
    border-radius: 0.9em;
    
}

.hb-header-banner-inner .display-1{
    color: #00bfd6;
    font-size: 3rem !important;
}

.hb-header-banner-inner .hb-contact-form{
    color: #6A8EA0;    
}

.hb-header-banner-inner  .btn-primary {
    color: #6A8EA0;    
}


.hb-header-banner-inner a{
    color: #00bfd6;
}

.hb-header-banner .lead {
    font-size: 1rem;
    font-weight: 300;
}

.hb-header-banner .d-grid {
    justify-content: center;
}


@media (min-width: 992px) {
    .col-lg-8 {
        width: 75%;
    }
}

.hb-header-banner .lead {
    text-align: justify;
}

body {
    --hb-top-offset: 50px !important;
}

footer {
    color:  #f9f9fd;
    background: linear-gradient(90deg, #5ebf81 0%, #00bfd6 70%);
}

.hb-main {
    margin: 0;
}

.hb-footer a {
    color: #f9f9fd !important; 
}

footer .container-fluid {
    display: flex;
    justify-content: space-around;
}

footer .footer-flex-col{
    align-content: center;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 50%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

.hb-contact-form .form-text{
    color: white;
}

.btn-primary {
    --hb-btn-color: #fff;
    --hb-btn-bg: #00bfd6;
    --hb-btn-border-color: #00bfd6;
    --hb-btn-hover-color: #fff;
    --hb-btn-hover-bg: #3981a2;
    --hb-btn-hover-border-color: #3981a2;       
}

.hb-header-banner-inner .btn-primary {
    --hb-btn-bg: #4e738900;
}

.hb-header-banner-inner .py-3 {
    --padding-top: 0 !important;
    --padding-bottom: 0 !important; 
}

.hb-main {
    margin-bottom: 0 !important;
}

@media (max-width: 800px) {
    .hb-footer .container-fluid {
        flex-wrap: wrap !important;
        align-items: center;
        flex-direction: column;
    }
}

a {
    color: #00bfd6;
}

h3, .h3 {
    font-size: 1.5rem;
}

h2 {
    color: #09CE9D;
}

h1 {
    color: #00bfd6;
}

.ijc_bit_card {
    margin-right: 20px;
    border-radius: 0.9em;
    background-color: #ffffff;
    box-shadow: 0px 0px 31px -10px rgba(17, 68, 114, 0.23);
    margin:0.5em;    
    padding:20px;   
    overflow: hidden; /* Hide any overflow content */ 
}


.hb-docs-nav {
    height: auto !important;
}

.hb-docs-doc-toc {
    height: auto !important;
}
