.hb-breadcrumb {
    --hb-link-color-rgb: --hb-secondary-bg;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    top: 250px;
    position: relative;
    z-index: 1000;

    .breadcrumb-item {
        background: var(--hb-secondary-bg);
        clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%, 1rem 50%);
        margin-right: -0.875rem;
        min-width: 48px;
        max-width: 360px;
        overflow: hidden;
        padding: 0.5rem 0;
        text-overflow: ellipsis;

        &.active,
        &:focus,
        &:hover,
        &:active {
            background: #d9793d;
            color: #FFF;
        }

        a {
            padding: 0.5rem 1.25rem 0.5rem 1.75rem;
            text-decoration: none;

            &:hover {
                color: inherit;
            }
        }

        &:last-child {
            max-width: 100%;
        }
    }

    .breadcrumb-item:first-child {
        clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%);

        a {
            padding-left: 0.75rem;
        }
    }
}