/*! purgecss start ignore */

.hb-featured-img {
    object-fit: cover;
    object-position: top;  
    pointer-events: none;
    padding: 0 !important;
    height: 35vh;    
}

/*! purgecss end ignore */