.contatct_form_name_email {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .hb-header-banner {
        flex-wrap: wrap !important;
    }
}

.form-floating{
    margin-right: 10px;
    
}
