.hb-blog-people-card-img {
    height: 160px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    transition: 0.3s;
    //border-radius: 50px;

    &:hover {
        transform: scale(1.2);
    }
}

.hb-blog-people-card-img :hover {
    pointer-events: auto;
}

.hb-people-cards .flex-md-row {
    flex-direction: row !important;
}

.hb-people-cards .me-md-2 {
    margin-right: 0.5rem !important;
}

