{{- $cols := default "row-cols-lg-2 row-cols-xl-3" .Cols }}
{{- $readMore := default true .ReadMore }}
{{- $modularize := default true .Modularize }}

{{/* Display Current People (isAlumni is false or not set) */}}
<h2 class="mb-3">Our Team</h2>
<div class="hb-people-cards row {{ $cols }} g-3 mb-5">
  {{ range where .Pages "Params.isAlumni" "!=" true }} {{/* Filter where isAlumni is NOT true */}}
    <div class="col">
      {{- $ctx := dict "Page" . "ReadMore" $readMore "Modularize" $modularize "Caller" "list" }}
      {{ partial "hb/modules/people/card" $ctx }}
    </div>
  {{ end }}
</div>

{{/* Display Alumni (isAlumni is true) */}}
<h2 class="mb-3">Alumni</h2>
<div class="hb-people-cards row {{ $cols }} g-3 mb-3">
  {{ range where .Pages "Params.isAlumni" "eq" true }} {{/* Filter where isAlumni is true */}}
    <div class="col">
      {{- $ctx := dict "Page" . "ReadMore" $readMore "Modularize" $modularize "Caller" "list" }}
      {{ partial "hb/modules/people/card" $ctx }}
    </div>
  {{ end }}
</div>